[package]
name = "taple_client"
version = "0.1.3"
edition = "2021"
authors = ["Open Canarias S.L.<taple@opencanarias.com>"]
description = "TAPLE Client official implementation"
# Remove when crates.io is published
documentation = "https://www.taple.es" 
readme = "../README.md"
homepage = "https://www.taple.es"
repository = "https://github.com/opencanarias/taple-client"
license = "AGPL-3.0-only"
keywords = ["blockchain", "distributed-ledger", "taple", "sustainability"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "taple-client"
path = "src/main.rs"

[dependencies]
env_logger = "0.9"
log = "0.4"
async-trait = "0.1.56"
utoipa = "2"
utoipa-swagger-ui = "2"

tokio = { version = "1.20", features = ["default", "time", "rt", "rt-multi-thread", "sync", "macros", "signal"] }
warp = {version = "0.3.3"}
serde = "^1.0"
serde_json = "1.0"
thiserror = "1.0"

taple_core = { workspace = true }
commons = { workspace = true }
rest = { path = "../rest" }
settings = { path = "../settings" }
