[package]
name = "client"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[[bin]]
name = "taple-client"
path = "src/main.rs"

[dependencies]
env_logger = "0.9"
log = "0.4"
async-trait = "0.1.56"
utoipa = "2"
utoipa-swagger-ui = "2"
clap = { version = "4.0.27", features = ["derive"] }

tokio = { version = "1.20", features = ["default", "time", "rt", "rt-multi-thread", "sync", "macros", "signal"] }
warp = {version = "0.3.3"}
serde = "^1.0"
serde_json = "1.0"
thiserror = "1.0"
config = { version = "0.13.2" }

commons = { path = "../../taple-core/commons" }
core = {path = "../../taple-core/core"}
rest = { path = "../rest" }
